body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form {
    width: 30%;
    height: 30%;

}

.table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
}

td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}

td {
    text-align: center;
}